name: CI

on:
  pull_request:
    branches: [ '**' ]
  push:
    branches: [ "master" ]
    tags: [ "v*" ]

env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

jobs:
  test:
    strategy:
      matrix:
        os:
          - name: ubuntu-latest
            command: ./mill
          - name: windows-latest
            command: .\mill.bat
        mill-version:
          - 1.0.6
          - 0.12.5

    runs-on: ${{ matrix.os.name }}

    steps:
      - uses: actions/checkout@v4
      - uses: coursier/cache-action@v6
      - uses: coursier/setup-action@v1
        with:
          jvm: temurin:17

      - name: Test
        env:
          MILL_VERSION: ${{ matrix.mill-version }}
        run: |
          ${{ matrix.os.command }} --no-server --jobs 0 _.test

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: always() # always run even if the previous step fails
        with:
          detailed_summary: true
          annotate_only: true
          report_paths: 'out/**/test-report.xml'

  publish:
    strategy:
      matrix:
        mill-version:
          - 1.0.6
          - 0.12.5

    runs-on: ubuntu-latest
    needs: test
    if: github.event_name != 'pull_request' && (startsWith(github.ref, 'refs/tags/v'))

    steps:
      - uses: actions/checkout@v4
      - uses: coursier/cache-action@v6
      - uses: coursier/setup-action@v1
        with:
          jvm: temurin:11

      - name: Publish
        run: ./mill --no-server --jobs 0 mill.scalalib.SonatypeCentralPublishModule/
        env:
          MILL_PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          MILL_PGP_SECRET_BASE64: ${{ secrets.PGP_SECRET }}
          MILL_SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          MILL_SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          MILL_VERSION: ${{ matrix.mill-version }}
